Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

Update
  third_party/proton/proton/scope.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Lint
  third_party/proton/proton/scope.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Fix lint
  python/build_helpers.py
Owners: @ptillet

Revert "Make functions in build_helpers return str instead Path"
  python/build_helpers.py
  setup.py
Owners: @ptillet

[Build] change default llvm build to release
  scripts/build-llvm-project.sh
Owners: @ptillet

[BACKEND] Use immutable alloc for tma store
  lib/Dialect/TritonNvidiaGPU/Transforms/TMALowering.cpp
  test/TritonNvidiaGPU/tma_lowering.mlir
  third_party/nvidia/backend/compiler.py
Owners: @ptillet

address comment
  python/triton_kernels/tests/test_matmul.py
Owners: @ptillet

[Bench][AMD]Add Assumptions to Enable Buffer Ops
  python/triton_kernels/triton_kernels/matmul_ogs_details/_common.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
Owners: @ptillet

support implicit broadcast
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

expose async copy
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

[LANG] Expand tl.target_info and fail gracefully on CPU (#7869)
  python/triton/language/target_info.py
  python/triton_kernels/triton_kernels/target_info.py
Owners: @ptillet

[RELAND][BACKEND] Implement generic lowering for tcgen05.ld/st
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Tools/LinearLayout.cpp
  test/Conversion/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet, @lezcano

Update
  python/test/unit/language/test_core.py
Owners: @ptillet

[PROTON] Use context vars for hook name and id (#7858)
  third_party/proton/proton/hooks/launch.py
  third_party/proton/test/test_api.py
  third_party/proton/test/test_instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Lint
  python/test/unit/language/test_core.py
Owners: @ptillet

[INTERPRETER] Support dtype and constexpr comparison (#7860)
  python/test/unit/language/test_core.py
  python/triton/language/core.py
Owners: @ptillet

fix
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

address review
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
Owners: @ptillet

[RELAND][BACKEND] Implement generic lowering for tcgen05.ld/st (#7874)
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Tools/LinearLayout.cpp
  test/Conversion/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet, @lezcano

[BACKEND] Always lower tcgen05.ld/st via generic LinearLayout code
  lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp
  lib/Dialect/TritonGPU/IR/Types.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @lezcano, @ptillet

Always send scales packed
  lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @lezcano, @ptillet

revert. Now unpack is always bitwidth=16, as it should be
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

generalise notLargerThan
  lib/Tools/LayoutUtils.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @lezcano, @ptillet

[BACKEND] Always lower tcgen05.ld/st via generic LinearLayout code (#7862)
  lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp
  lib/Dialect/TritonGPU/IR/Types.cpp
  lib/Tools/LayoutUtils.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @lezcano, @ptillet

more cleanup
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

Add test cases and clarifying comment
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @antiagainst, @zhanglx13

[NFC] Fix warnings to build triton with clang
  include/triton/Dialect/Triton/IR/Utility.h
  lib/Dialect/Triton/IR/OpInterfaces.cpp
  lib/Dialect/Triton/IR/Ops.cpp
  lib/Dialect/Triton/Transforms/ArithTypeConversion.cpp
  lib/Dialect/Triton/Transforms/Combine.cpp
  lib/Dialect/Triton/Transforms/LoopAwareCSE.cpp
  lib/Dialect/Triton/Transforms/LoopInvariantCodeMotion.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorDescriptorToPointer.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
Owners: @ptillet

address review comment
  scripts/build-llvm-project.sh
Owners: @ptillet

[BUILD] Fix warnings to build triton with clang (#7868)
  include/triton/Dialect/Triton/IR/Utility.h
  lib/Dialect/Triton/IR/OpInterfaces.cpp
  lib/Dialect/Triton/IR/Ops.cpp
  lib/Dialect/Triton/Transforms/ArithTypeConversion.cpp
  lib/Dialect/Triton/Transforms/Combine.cpp
  lib/Dialect/Triton/Transforms/LoopAwareCSE.cpp
  lib/Dialect/Triton/Transforms/LoopInvariantCodeMotion.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorDescriptorToPointer.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
Owners: @ptillet

[Build] change default llvm build to release (#7872)
  scripts/build-llvm-project.sh
Owners: @ptillet

[BACKEND] Use immutable alloc for tma store (#7873)
  lib/Dialect/TritonNvidiaGPU/Transforms/TMALowering.cpp
  test/TritonNvidiaGPU/tma_lowering.mlir
  third_party/nvidia/backend/compiler.py
Owners: @ptillet

set fixed seed in test_bessel to avoid flakiness
  python/test/unit/language/test_libdevice.py
Owners: @ptillet

Update failing mlir tests to remove convert-builtin-llvm since it's no longer needed as a pass here in this test for loads
  test/Conversion/amd/async-ops-alias-scopes.mlir
  test/Conversion/amd/async_ops_to_llvm.mlir
  test/Proton/amd/protongpu_to_llvm.mlir
  third_party/amd/backend/compiler.py
  third_party/amd/lib/TritonAMDGPUToLLVM/MaskedOpsToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/TritonGPUToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

undo changes to tesdt and clean up
  test/Proton/amd/protongpu_to_llvm.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/BuiltinFuncToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/TritonGPUToLLVM.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

[TEST] set fixed seed in test_bessel to avoid flakiness (#7875)
  python/test/unit/language/test_libdevice.py
Owners: @ptillet

clean up tests
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
  test/Proton/amd/protongpu_to_llvm.mlir
Owners: @ptillet

clean up tests
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
Owners: @ptillet

[IR] Improve memdesc_index printing to make it obvious what operand is the index
  include/triton/Dialect/TritonGPU/IR/TritonGPUOps.td
  test/Analysis/test-alias.mlir
  test/Analysis/test-allocation.mlir
  test/Analysis/test-membar.mlir
  test/Conversion/amd/amdgpu_membar.mlir
  test/Conversion/amd/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm.mlir
  test/NVWS/lower_aref.mlir
  test/TritonGPU/amd/amd-block-pingpong-chained-dots.mlir
  test/TritonGPU/amd/amd-block-pingpong.mlir
  test/TritonGPU/amd/amd-fold-true-cmpi.mlir
  test/TritonGPU/amd/amd-range-analysis.mlir
  test/TritonGPU/amd/amd-reorder-instructions.mlir
  test/TritonGPU/amd/in-thread-transpose.mlir
  test/TritonGPU/consan-negative.mlir
  test/TritonGPU/consan.mlir
  test/TritonGPU/invalid.mlir
  test/TritonGPU/load-mma-specialization.mlir
  test/TritonGPU/loop-pipeline-async-latencies.mlir
  test/TritonGPU/loop-pipeline-blackwell.mlir
  test/TritonGPU/loop-pipeline-hopper.mlir
  test/TritonGPU/loop-pipeline.mlir
  test/TritonGPU/memdesc-subview-split.mlir
  test/TritonGPU/pipeline-lower-loop.mlir
  test/TritonGPU/promote-lhs-to-tmem.mlir
  test/TritonGPU/samples/descriptor-matmul-pipeline.mlir
  test/TritonNvidiaGPU/interleave_tmem.mlir
  test/TritonNvidiaGPU/test_tensor_memory_allocation.mlir
Owners: @ptillet

fix tests
  python/test/gluon/test_frontend.py
  python/test/unit/language/test_core.py
Owners: @peterbell10, @ptillet

Pre-commit formatting
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @antiagainst, @zhanglx13

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano
