Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

add async load example
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

add buffer load example
  python/test/gluon/test_core.py
Owners: @peterbell10

update comments
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

fix tensor shape
  python/test/gluon/test_core.py
Owners: @peterbell10

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

.
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

remove mbar from mmav5
  lib/Dialect/TritonGPU/Transforms/Pipeliner/LowerLoops.cpp
  lib/Dialect/TritonGPU/Transforms/Pipeliner/PipeliningUtility.cpp
  lib/Dialect/TritonGPU/Transforms/WarpSpecialization/LoadMMASpecialization.cpp
  lib/Dialect/TritonNvidiaGPU/Transforms/MMALowering.cpp
  third_party/nvidia/hopper/lib/Transforms/WarpSpecialization/WSCodePartition.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/DotOpToLLVM/MMAv5.cpp
Owners: @ptillet

emit mma and commit together
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/DotOpToLLVM/MMAv5.cpp
Owners: @ptillet

[IR] Improve memdesc_index printing to make it obvious what operand is the index (#7876)
  include/triton/Dialect/TritonGPU/IR/TritonGPUOps.td
  python/test/gluon/test_frontend.py
  python/test/unit/language/test_core.py
  test/Analysis/test-alias.mlir
  test/Analysis/test-allocation.mlir
  test/Analysis/test-membar.mlir
  test/Conversion/amd/amdgpu_membar.mlir
  test/Conversion/amd/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm.mlir
  test/NVWS/lower_aref.mlir
  test/TritonGPU/amd/amd-block-pingpong-chained-dots.mlir
  test/TritonGPU/amd/amd-block-pingpong.mlir
  test/TritonGPU/amd/amd-fold-true-cmpi.mlir
  test/TritonGPU/amd/amd-range-analysis.mlir
  test/TritonGPU/amd/amd-reorder-instructions.mlir
  test/TritonGPU/amd/in-thread-transpose.mlir
  test/TritonGPU/consan-negative.mlir
  test/TritonGPU/consan.mlir
  test/TritonGPU/invalid.mlir
  test/TritonGPU/load-mma-specialization.mlir
  test/TritonGPU/loop-pipeline-async-latencies.mlir
  test/TritonGPU/loop-pipeline-blackwell.mlir
  test/TritonGPU/loop-pipeline-hopper.mlir
  test/TritonGPU/loop-pipeline.mlir
  test/TritonGPU/memdesc-subview-split.mlir
  test/TritonGPU/pipeline-lower-loop.mlir
  test/TritonGPU/promote-lhs-to-tmem.mlir
  test/TritonGPU/samples/descriptor-matmul-pipeline.mlir
  test/TritonNvidiaGPU/interleave_tmem.mlir
  test/TritonNvidiaGPU/test_tensor_memory_allocation.mlir
Owners: @ptillet, @peterbell10

RDNA4 does not support f8/bf8 with 8/16 bit bias.
  python/test/unit/language/test_conversions.py
Owners: @ptillet

Test case fix
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @antiagainst, @zhanglx13

[BUILD] Enable complete out-of-tree build with TRITON_BUILD_DIR (#7871)
  python/build_helpers.py
  setup.py
Owners: @ptillet

[amd][driver] fix _PyFloat_Pack2
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

expose other value for async copy
  python/src/gluon_ir.cc
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/nvidia/ampere/async_copy.py
Owners: @peterbell10

add async annotation
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  third_party/amd/lib/TritonAMDGPUToLLVM/AsyncUtility.cpp
Owners: @peterbell10, @antiagainst, @zhanglx13

[AMD] Enable more tests under python/test/unit (#7844)
  .github/workflows/integration-tests-amd.yml
  python/test/unit/test_perf_warning.py
  third_party/amd/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

[BACKEND] Bump to llvm/llvm-project@6c3d62a4b4
  bin/CMakeLists.txt
  cmake/llvm-hash.txt
  include/triton/Dialect/TritonGPU/IR/TritonGPUOps.td
  lib/Dialect/Triton/Transforms/RewriteTensorDescriptorToPointer.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
  lib/Dialect/TritonGPU/Transforms/Pipeliner/SoftwarePipeliner.cpp
  python/src/ir.cc
  python/src/llvm.cc
  python/test/unit/language/test_core.py
  test/Conversion/amd/upcast_mxfp.mlir
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/include/TritonAMDGPUToLLVM/Passes.h
  third_party/amd/lib/TritonAMDGPUToLLVM/UpcastMXFPToLLVM.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/LoadStoreOpToLLVM.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/Utility.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

set random seed
  python/test/gluon/test_core.py
Owners: @peterbell10

add comments
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

.
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

Fix compilation breakages
  third_party/amd/lib/TritonAMDGPUToLLVM/AtomicRMWOpsEmitter.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/Utility.cpp
Owners: @antiagainst, @zhanglx13, @ptillet

[Backend] Bump to llvm/llvm-project@bc773632355b
  cmake/llvm-hash.txt
Owners: @ptillet

[RUNTIME] A more generalized hooking system (#7866)
  python/test/unit/runtime/test_launch.py
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
  third_party/proton/proton/hooks/instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

Fix lit test
  test/Conversion/tritongpu_to_llvm_hopper.mlir
  test/Conversion/tritongpu_to_ptx_mmav3.mlir
Owners: @ptillet

Make dependency explicit
  bin/CMakeLists.txt
Owners: @ptillet

Bump llvm hash
  cmake/llvm-hash.txt
Owners: @ptillet

exclude async operations to cdna4
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

Actually fix tests
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @antiagainst, @zhanglx13

rename builtins
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

Fix test_line_info IR
  python/test/unit/language/test_line_info.py
Owners: @ptillet

update constraints load to shared
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

remove 2d constraint
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
  third_party/amd/lib/TritonAMDGPUToLLVM/LoadStoreOpToLLVM.cpp
Owners: @peterbell10, @antiagainst, @zhanglx13

Fix test_line_info
  python/test/unit/language/test_line_info.py
Owners: @ptillet

introduce relaxed shared memory descriptor
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

update comments
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

update comments
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

update tests
  python/test/gluon/test_core.py
Owners: @peterbell10

fused acts
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

use 8 warps for large block tests
  python/test/unit/language/test_matmul.py
Owners: @ptillet
