Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

update
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

cleanup
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

[AMD][Backend] Extend coverage of `ConvertLayoutOpPermlaneSwap` pattern (#7861)
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @antiagainst, @zhanglx13

clean up
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/tests/test_reduce.py
  python/triton_kernels/tests/test_scatter.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_standard.py
  python/triton_kernels/triton_kernels/scatter.py
Owners: @ptillet

added missing file
  python/triton_kernels/triton_kernels/matmul_ogs_details/_reduce_grouped.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
Owners: @ptillet

address comments
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

fmt
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

Lint
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

ci(macOS): include Metal backend runtime/compiler fixes for guarded macOS tests
  third_party/metal/backend/compiler.py
  third_party/metal/backend/runtime.py
Owners: @ptillet

RDNA4 does not support f8/bf8 with 8/16 bit bias.
  python/test/unit/language/test_conversions.py
Owners: @ptillet

[METAL] Implement Metal backend with runtime, driver, and testing infrastructure
  .github/workflows/build-macos.yml
  docs/_internal/backend/metal.md
  python/test/backend/metal_runtime_test.py
  python/test/backend/test_metal_backend.py
  python/test/backend/test_metal_runtime.py
  third_party/metal/.keep
  third_party/metal/backend/__init__.py
  third_party/metal/backend/driver.py
  third_party/metal/backend/name.conf
  third_party/metal/backend/options.py
  third_party/metal/backend/utils.py
Owners: @ptillet

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

Fixed parenthesis
  python/test/unit/language/test_conversions.py
Owners: @ptillet

update comments
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

Update
  third_party/proton/csrc/include/Context/Shadow.h
  third_party/proton/csrc/lib/Context/Shadow.cpp
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

squash! [METAL] Implement Metal backend with runtime, driver, and testing infrastructure
  python/test/backend/test_metal_compiler.py
  python/test/backend/test_metal_errors.py
  python/test/backend/test_metal_reflection.py
  test/Metal/buffer-binding.mlir
  test/Metal/compile-basic.mlir
  test/Metal/kernel-launch.mlir
  test/Metal/reflection-metadata.mlir
  unittest/CMakeLists.txt
  unittest/Metal/ArgumentBindingTest.cpp
  unittest/Metal/CMakeLists.txt
  unittest/Metal/CompilerTest.cpp
  unittest/Metal/ErrorHandlingTest.cpp
  unittest/Metal/RuntimeTest.cpp
Owners: @ptillet

Update
  third_party/proton/proton/scope.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/proton/scope.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  python/test/unit/test_knobs.py
Owners: @ptillet

Update
  python/test/unit/test_knobs.py
Owners: @ptillet

Update
  python/test/conftest.py
  python/test/unit/runtime/test_cache.py
  python/triton_kernels/tests/test_specialize.py
Owners: @ptillet

[AMD][GFX12] Disable tests for fp8/bfp8 with 8/16 bit bias (#7878)
  python/test/unit/language/test_conversions.py
Owners: @ptillet

remove tests used for development
  python/test/unit/runtime/test_specialize.py
Owners: @ptillet

cleanup
  python/triton/runtime/build.py
Owners: @ptillet

fix shadowing kwarg in mangle_type
  python/triton/runtime/jit.py
Owners: @ptillet

Update
  python/triton_kernels/tests/conftest.py
  python/triton_kernels/tests/test_specialize.py
Owners: @ptillet

fix alignment calculation
  lib/Analysis/AxisInfo.cpp
Owners: @ptillet

add lit test
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
Owners: @ptillet

cleanup
  lib/Analysis/AxisInfo.cpp
Owners: @ptillet

Slice to a scalar lead to unexpected result shape (#6122)
  python/test/unit/language/test_core.py
  python/triton/language/core.py
Owners: @ptillet

address comments
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

cmake(metal): alias TritonRuntime -> TritonTools to fix Metal unit test link
  docs/_internal/backend/metal.md
  lib/Tools/CMakeLists.txt
Owners: @ptillet, @lezcano

[PROTON] Actively initialize main thread context (#7884)
  third_party/proton/csrc/include/Context/Shadow.h
  third_party/proton/csrc/lib/Context/Shadow.cpp
  third_party/proton/proton/hooks/launch.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin
