Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/test/test_instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

[TRITON_KERNELS] unpack_fp4 can use mul.f32 before hopper
  python/triton_kernels/tests/test_tensor_details/test_layout_hopper.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/hopper_value.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/unpack_utils.py
Owners: @ptillet

Introduce AMD local load transposed op
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Update kWidth to match the shmem layout between head and tail dots
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @antiagainst, @zhanglx13

Fix typo
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Add pass for using the same shmem allocation for both transposed and non-transposed usage
  third_party/amd/backend/compiler.py
  third_party/amd/include/TritonAMDGPUTransforms/Passes.h
  third_party/amd/include/TritonAMDGPUTransforms/Passes.td
  third_party/amd/lib/TritonAMDGPUTransforms/CMakeLists.txt
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
  third_party/amd/python/triton_amd.cc
Owners: @antiagainst, @zhanglx13

Update conditions for local_load_transpose usage
  test/TritonGPU/amd/amd-optimize-dot-operands.mlir
  third_party/amd/backend/compiler.py
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/include/TritonAMDGPUTransforms/Passes.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
  third_party/amd/python/triton_amd.cc
Owners: @ptillet, @antiagainst, @zhanglx13

Refactor: hasTransInDefChain
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.h
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @antiagainst, @zhanglx13

Refactor: kWidth adjustment fwd vs bwd attn
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @antiagainst, @zhanglx13

Use loadOp to get the memory order
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Exit early if dot users are found
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Fix redundant shmem alloc due to convert layout op
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Revert "Update test for new kWidth"
  test/TritonGPU/amd/accelerate-amd-matmul-chain-dot.mlir
Owners: @ptillet

Add lit test
  test/TritonGPU/amd/amd-optimize-dot-operands.mlir
Owners: @ptillet

Register TritonAMDGPUOptimizeDotOperands pass in triton-opt
  bin/RegisterTritonDialects.h
  third_party/amd/include/TritonAMDGPUTransforms/Passes.h
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

Differentiate kWidth adjustment between fwd and bwd attention
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.h
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
Owners: @antiagainst, @zhanglx13

Update test for new kWidth
  test/TritonGPU/amd/accelerate-amd-matmul-chain-dot.mlir
Owners: @ptillet

Verify layout for using local_load_transposed and add fallback path
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeAMDDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Update
  python/test/unit/language/test_core.py
  python/test/unit/language/test_tuple.py
Owners: @ptillet

Lint
  third_party/proton/test/test_api.py
  third_party/proton/test/test_instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  python/test/unit/language/test_core.py
  python/test/unit/language/test_tuple.py
Owners: @ptillet

more cleanup
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

Update python/test/microbenchmark/launch_overhead.py
  python/test/microbenchmark/launch_overhead.py
Owners: @ptillet

test
  lib/Conversion/TritonGPUToLLVM/Utility.cpp
Owners: @ptillet

Update python/test/microbenchmark/launch_overhead.py
  python/test/microbenchmark/launch_overhead.py
Owners: @ptillet

Add comments explaining broadcasting
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
Owners: @antiagainst, @zhanglx13

[Runtime] Fix out of threads error to raise on every call (#7857)
  python/triton/compiler/compiler.py
Owners: @ptillet

fix
  python/test/gluon/test_frontend.py
Owners: @peterbell10

Update
  python/test/unit/language/test_core.py
Owners: @ptillet

Add launch overhead microbenchmark (#7849)
  .github/workflows/integration-tests-amd.yml
  .github/workflows/integration-tests-nvidia.yml
  Makefile
  python/test/microbenchmark/launch_overhead.py
Owners: @ptillet

Update
  python/test/unit/language/test_core.py
  python/triton/language/core.py
Owners: @ptillet

Update
  python/triton/language/core.py
Owners: @ptillet

fix
  python/test/gluon/test_frontend.py
Owners: @peterbell10

Update lit tests per review comments
  test/TritonGPU/amd/amd-optimize-dot-operands.mlir
Owners: @ptillet

[AMD][Backend] Add general `permlane_swap` pattern for `ConvertLayoutOp` (#7825)
  .github/workflows/integration-tests-amd.yml
  include/triton/Analysis/Utility.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13

fix
  python/test/gluon/test_frontend.py
Owners: @peterbell10

Clean up debugging
  test/Conversion/amd/async_ops_to_llvm.mlir
  test/Proton/amd/protongpu_to_llvm.mlir
  third_party/amd/include/TritonAMDGPUToLLVM/Passes.td
  third_party/amd/lib/TritonAMDGPUToLLVM/MaskedOpsToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

fixup
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano
