Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

Update
  python/test/gluon/test_core.py
Owners: @peterbell10

[AMD][Gluon] Support global/buffer load to shared (#7880)
  python/src/gluon_ir.cc
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
  python/triton/experimental/gluon/language/nvidia/ampere/async_copy.py
  third_party/amd/lib/TritonAMDGPUToLLVM/AsyncUtility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/LoadStoreOpToLLVM.cpp
Owners: @peterbell10, @antiagainst, @zhanglx13

[Bench][AMD] Support Scale Preshuffling on GFX950 (#7836)
  python/triton_kernels/bench/bench_mlp.py
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
  python/triton_kernels/triton_kernels/tensor_details/layout.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/cdna4_scale.py
Owners: @ptillet

[Bench][AMD] Add Assumptions to Enable Buffer Ops (#7742)
  python/triton_kernels/triton_kernels/matmul_ogs_details/_common.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
Owners: @ptillet

WIP: fix AxisInfo analysis
  lib/Analysis/AxisInfo.cpp
  test/TritonGPU/coalesce.mlir
Owners: @ptillet

Update
  python/test/conftest.py
Owners: @ptillet

Fix triton_kernels as well
  python/triton_kernels/tests/conftest.py
Owners: @ptillet

Split file
  python/test/gluon/test_core.py
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Lint
  python/test/gluon/test_core.py
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Update
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Revert "[BUILD] Enable complete out-of-tree build with TRITON_BUILD_DIR (#7871)"
  python/build_helpers.py
  setup.py
Owners: @ptillet

Revert "Enable complete out-of-tree build with TRITON_BUILD_DIR (#7871)" (#7896)
  python/build_helpers.py
  setup.py
Owners: @ptillet

[KERNELS] Improve block sizes for batched matmul_ogs with small m/n/k.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags_details/opt_flags_nvidia.py
Owners: @ptillet

typo
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
Owners: @ptillet

Revert "[AMD][Backend] Extend coverage of `ConvertLayoutOpPermlaneSwap` pattern (#7861)"
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @antiagainst, @zhanglx13

Revert "[AMD][Backend] Add general `permlane_swap` pattern for `ConvertLayoutOp` (#7825)"
  .github/workflows/integration-tests-amd.yml
  include/triton/Analysis/Utility.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13

Revert "[Backend] Use byte permutes in intra-warp layout conversion (#7809)"
  include/triton/Analysis/Utility.h
  include/triton/Conversion/TritonGPUToLLVM/TargetInfoBase.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  test/Conversion/tritongpu_to_ptx_mmav3.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/TargetInfo.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/TargetInfo.h
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.h
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TargetInfo.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TargetInfo.h
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/Utility.cpp
Owners: @Jokeren, @ptillet, @antiagainst, @zhanglx13

Revert byte permutes in intra-warp layout conversion (#7899)
  .github/workflows/integration-tests-amd.yml
  include/triton/Analysis/Utility.h
  include/triton/Conversion/TritonGPUToLLVM/TargetInfoBase.h
  lib/Analysis/Utility.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  test/Conversion/amd/mfma-shortcut.mlir
  test/Conversion/tritongpu_to_ptx_mmav3.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/TargetInfo.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/TargetInfo.h
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.h
  third_party/amd/python/test/test_convert_op_permlane_swap.py
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TargetInfo.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TargetInfo.h
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/Utility.cpp
Owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13

[Backend] Bump to llvm/llvm-project@bc773632355b (#7881)
  bin/CMakeLists.txt
  cmake/llvm-hash.txt
  include/triton/Dialect/TritonGPU/IR/TritonGPUOps.td
  lib/Dialect/Triton/Transforms/RewriteTensorDescriptorToPointer.cpp
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
  lib/Dialect/TritonGPU/Transforms/Pipeliner/SoftwarePipeliner.cpp
  python/src/ir.cc
  python/src/llvm.cc
  python/test/unit/language/test_core.py
  python/test/unit/language/test_line_info.py
  python/test/unit/language/test_matmul.py
  test/Conversion/amd/upcast_mxfp.mlir
  test/Conversion/tritongpu_to_llvm_hopper.mlir
  test/Conversion/tritongpu_to_ptx_mmav3.mlir
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/include/TritonAMDGPUToLLVM/Passes.h
  third_party/amd/lib/TritonAMDGPUToLLVM/AtomicRMWOpsEmitter.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/UpcastMXFPToLLVM.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/LoadStoreOpToLLVM.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/Utility.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

Remove hack to handle annotations in scf to cf
  include/triton/Dialect/Triton/Transforms/Passes.td
  lib/Dialect/Triton/Transforms/CMakeLists.txt
  lib/Dialect/Triton/Transforms/SCFToCF.cpp
  python/src/passes.cc
  third_party/amd/backend/compiler.py
  third_party/nvidia/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

simplify logic
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags_details/opt_flags_nvidia.py
Owners: @ptillet

ci: add macOS Metal smoke workflow
  .github/workflows/metal-macos-smoke.yml
Owners: @ptillet

ci: install Homebrew LLVM for macOS Metal smoke workflow
  .github/workflows/metal-macos-smoke.yml
Owners: @ptillet

ci(macos): prefer llvm@20 in macOS smoke workflow; fix MLIR namespace in Ops.cpp
  .github/workflows/metal-macos-smoke.yml
  lib/Dialect/Triton/IR/Ops.cpp
Owners: @ptillet

Update CMakeLists.txt
  test/CMakeLists.txt
Owners: @ptillet

ci(macos): add local macOS smoke-run script; fix LoopAwareCSE iterator usage for EquivalenceClasses
  CMakeLists.txt
  cmake/llvm-hash.txt
  lib/Conversion/TritonToTritonGPU/RelayoutTritonGPU.cpp
  lib/Conversion/TritonToTritonGPU/TritonGPUConversion.cpp
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Triton/Transforms/LoopAwareCSE.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Dialect/TritonGPU/IR/Types.cpp
  lib/Tools/GenericSwizzling.cpp
  scripts/run_macos_smoke_locally.sh
  test/lit.cfg.py
  third_party/metal/backend/compiler.py
  third_party/metal/backend/runtime.py
  unittest/Metal/CMakeLists.txt
Owners: @ptillet, @lezcano

cmake: guard TritonMetalGPU subdirectory to avoid CI configure failure when absent
  lib/Dialect/CMakeLists.txt
Owners: @ptillet

fix lit test
  test/NVWS/lower_aref.mlir
Owners: @ptillet

share the same stage idx for put enter / exit lowering
  third_party/nvidia/lib/Dialect/NVWS/Transforms/LowerAref.cpp
Owners: @ptillet

Remove hack to handle annotations in scf to cf (#7900)
  include/triton/Dialect/Triton/Transforms/Passes.td
  lib/Dialect/Triton/Transforms/CMakeLists.txt
  lib/Dialect/Triton/Transforms/SCFToCF.cpp
  python/src/passes.cc
  third_party/amd/backend/compiler.py
  third_party/nvidia/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

support other LocalAlloc pattern
  third_party/nvidia/lib/Dialect/NVWS/Transforms/InsertAref.cpp
  third_party/nvidia/lib/Dialect/NVWS/Transforms/LowerAref.cpp
Owners: @ptillet

[TEST] Reset `jit_cache_hook` and `jit_cache_hook` in the `fresh_triton_cache` fixture (#7885)
  python/test/conftest.py
  python/test/unit/runtime/test_cache.py
  python/triton_kernels/tests/conftest.py
  python/triton_kernels/tests/test_specialize.py
Owners: @ptillet

Update
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Fix
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Fix
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Fix
  python/test/gluon/test_lowerings.py
Owners: @peterbell10

Fix a typo in CMAKE_CURRENT_SOURCE_DIR variable. (#7901)
  test/CMakeLists.txt
Owners: @ptillet

docs(metal): fix markdown headings to satisfy linter (single H1)
  docs/metal-backend.md
Owners: @ptillet

[Test] Use knobs in test_core.py to set up env
  python/test/unit/language/test_core.py
Owners: @ptillet

[GLUON] Support `associative_scan` and `device_assert` and remove ttgir scan layout tests (#7894)
  python/test/gluon/test_core.py
  python/test/gluon/test_lowerings.py
  python/test/unit/language/test_core.py
  python/triton/experimental/gluon/language/_core.py
  python/triton/experimental/gluon/language/_semantic.py
Owners: @peterbell10, @ptillet

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano
