Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

[Test] Use knobs in test_core.py to set up env (#7902)
  python/test/unit/language/test_core.py
Owners: @ptillet

Tidy up visit_With and add new tests.
  python/test/unit/language/test_frontend.py
  python/triton/__init__.py
  python/triton/compiler/code_generator.py
  python/triton/language/__init__.py
  third_party/proton/proton/language.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

unittest(metal): guard tests when sources or Python target are unavailable
  unittest/Metal/CMakeLists.txt
Owners: @ptillet

ci(macos): ensure full checkout and install Homebrew Python for CMake Python3::Module
  .github/workflows/metal-macos-smoke.yml
Owners: @ptillet

Enable FP8 conversion on sm < 89
  python/test/regression/test_cast_matmul.py
  python/test/unit/language/test_compile_errors.py
  python/test/unit/language/test_conversions.py
  python/test/unit/language/test_core.py
  third_party/nvidia/backend/compiler.py
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/ElementwiseOpToLLVM.cpp
Owners: @ptillet

[AMD] Introduce and enable LocalLoadTransposeOp
  include/triton/Dialect/TritonGPU/IR/LinearLayoutConversions.h
  lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp
  test/Conversion/amd/ds_transpose.mlir
  test/TritonGPU/amd/accelerate-amd-matmul-mfma-gfx950.mlir
  test/TritonGPU/amd/amd-optimize-dot-operands.mlir
  test/TritonGPU/amd/invalid.mlir
  test/TritonGPU/loop-pipeline-hip.mlir
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/MemoryOpToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
  unittest/Dialect/TritonGPU/LinearLayoutConversionsTest.cpp
Owners: @ptillet, @lezcano, @antiagainst, @zhanglx13

Added negative test
  test/TritonGPU/amd/invalid.mlir
Owners: @ptillet

Commonise kContig check
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Fix tests
  third_party/amd/lib/TritonAMDGPUToLLVM/AsyncUtility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/AsyncUtility.h
  third_party/amd/lib/TritonAMDGPUToLLVM/MemoryOpToLLVM.cpp
Owners: @antiagainst, @zhanglx13

test update
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/_layouts.py
Owners: @peterbell10

skip test on AMD for now
  python/triton_kernels/tests/test_matmul.py
Owners: @ptillet

Address comments
  third_party/proton/Dialect/lib/ProtonGPUToLLVM/PatternProtonGPUOpToLLVM.cpp
  third_party/proton/csrc/include/Data/Metric.h
Owners: @Jokeren, @crobeck, @fywkevin

add mask to device_assert
  python/test/unit/test_debug.py
  python/triton/language/core.py
  python/triton/language/semantic.py
Owners: @ptillet

Bump LLVM 064f02dac0c81c19350a74415b3245f42fed09dc
  cmake/llvm-hash.txt
Owners: @ptillet

Adding description of aux tensors and what the ops are actually doing
  include/triton/Dialect/TritonInstrument/IR/TritonInstrumentOps.td
Owners: @ptillet

Bump LLVM 064f02dac0c81c19350a74415b3245f42fed09dc
  cmake/llvm-hash.txt
Owners: @ptillet

make gather and scatter mutually exclusive
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

Added a fix for the non-negative logic
  third_party/amd/lib/TritonAMDGPUTransforms/ConvertToBufferOps.cpp
Owners: @antiagainst, @zhanglx13

Make it more conservative
  third_party/amd/lib/TritonAMDGPUTransforms/ConvertToBufferOps.cpp
Owners: @antiagainst, @zhanglx13

Made more conservative
  third_party/amd/lib/TritonAMDGPUTransforms/ConvertToBufferOps.cpp
Owners: @antiagainst, @zhanglx13

ci(macos): avoid recursive submodule fetch (broken gitlinks in generated dirs)
  .github/workflows/metal-macos-smoke.yml
Owners: @ptillet

ci(macos): remove stale CMake cache before configure
  .github/workflows/metal-macos-smoke.yml
Owners: @ptillet

oops
  python/triton/language/semantic.py
Owners: @ptillet

Reduce parallelism, speed up some tests.
  Makefile
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/routing.py
Owners: @ptillet

lint (guh)
  python/triton_kernels/triton_kernels/routing.py
Owners: @ptillet

dont assume that code split is done in isProducerLoad
  third_party/nvidia/lib/Dialect/NVWS/Transforms/LowerAref.cpp
Owners: @ptillet
