Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

address comments
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update tests
  python/test/gluon/test_frontend.py
Owners: @peterbell10

fix
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

update description
  python/triton/experimental/gluon/language/amd/cdna4/async_copy.py
Owners: @peterbell10

remove barrier from td
  include/triton/Dialect/TritonNvidiaGPU/IR/TritonNvidiaGPUOpInterfaces.td
  include/triton/Dialect/TritonNvidiaGPU/IR/TritonNvidiaGPUOps.td
  lib/Dialect/TritonInstrument/Transforms/ConcurrencySanitizer.cpp
  lib/Dialect/TritonNvidiaGPU/IR/Ops.cpp
  python/src/gluon_ir.cc
  third_party/nvidia/hopper/lib/Transforms/WarpSpecialization/WSCodePartition.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/DotOpToLLVM/MMAv5.cpp
Owners: @ptillet, @peterbell10

Update
  python/triton/_utils.py
  python/triton/language/core.py
Owners: @ptillet

Lint
  python/triton/_utils.py
Owners: @ptillet

gluon fix
  python/test/gluon/test_consan.py
  python/triton/experimental/gluon/language/nvidia/blackwell/__init__.py
Owners: @peterbell10

Update
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/_core.py
Owners: @peterbell10

Rename test function for clarity in scan layout tests
  python/test/gluon/test_core.py
Owners: @peterbell10

Fix Build Dir
  python/build_helpers.py
Owners: @ptillet

expose libdevice
  python/triton/experimental/gluon/language/__init__.py
  python/triton/experimental/gluon/language/extra/__init__.py
  python/triton/language/core.py
Owners: @peterbell10, @ptillet

add test
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
Owners: @peterbell10

.
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_p_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/reduce_grouped.py
Owners: @ptillet

.
  python/triton_kernels/triton_kernels/matmul_ogs_details/reduce_grouped.py
Owners: @ptillet

[KERNELS] Revert change to matmul_ogs heuristics
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
Owners: @ptillet

[KERNELS] Revert change to matmul_ogs heuristics (#7892)
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
Owners: @ptillet

Update
  python/triton/language/core.py
Owners: @ptillet

Update
  python/triton/experimental/gluon/language/_semantic.py
Owners: @peterbell10

Update
  python/triton/experimental/gluon/language/_semantic.py
Owners: @peterbell10

Update
  python/test/gluon/test_core.py
Owners: @peterbell10

Update
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/_semantic.py
Owners: @peterbell10

Update
  python/test/gluon/test_core.py
Owners: @peterbell10

Update
  python/triton/experimental/gluon/language/_core.py
Owners: @peterbell10

Lint
  python/test/gluon/test_core.py
Owners: @peterbell10

[AMD] Fix alignment calculation for buffer ops offset in AxisAnalysis (#7886)
  lib/Analysis/AxisInfo.cpp
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
Owners: @ptillet

[Gluon] Expose libdevice (#7890)
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/__init__.py
  python/triton/experimental/gluon/language/extra/__init__.py
  python/triton/language/core.py
Owners: @peterbell10, @ptillet

[amd][driver] fix _PyFloat_Pack2 for Python 3.10 (#7879)
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

Update
  python/triton/experimental/gluon/language/_core.py
Owners: @peterbell10

Update
  python/triton/_utils.py
Owners: @ptillet

Update
  python/triton/language/core.py
Owners: @ptillet

Update
  python/test/unit/language/test_core.py
Owners: @ptillet

use Rotating layout if LDS is not enough
  test/TritonGPU/amd/in-thread-transpose.mlir
  third_party/amd/lib/TritonAMDGPUTransforms/InThreadTranspose.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

add simple heuristic
  test/TritonGPU/amd/in-thread-transpose.mlir
  third_party/amd/lib/TritonAMDGPUTransforms/InThreadTranspose.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

[AMD] Padded shared layout in In Thread Transpose
  test/TritonGPU/amd/in-thread-transpose.mlir
  third_party/amd/lib/TritonAMDGPUTransforms/InThreadTranspose.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

style fix of error messages
  third_party/amd/lib/TritonAMDGPUTransforms/InThreadTranspose.cpp
Owners: @antiagainst, @zhanglx13

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano
