Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

.
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
Owners: @ptillet

.
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

.
  python/triton_kernels/triton_kernels/scatter.py
Owners: @ptillet

don't run link test on amd
  python/test/unit/test_link.py
Owners: @ptillet

comments
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/amd/_layouts.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

[AMD] Enable more tests under python/test/unit
  .github/workflows/integration-tests-amd.yml
Owners: @ptillet

Fix failing tests
  python/test/unit/test_perf_warning.py
  third_party/amd/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

Fix format
  python/test/unit/test_perf_warning.py
Owners: @ptillet

[Knobs] Reduce overhead of reading knobs (#7841)
  python/src/ir.cc
  python/triton/knobs.py
Owners: @ptillet

split messages if reg pressure is too high
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

improve comment
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

address review
  lib/Dialect/TritonGPU/IR/Dialect.cpp
Owners: @ptillet

don't use targetinfo
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/PatternTritonGPUOpToLLVM.h
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Owners: @ptillet

Compute regToShared in utility function and fix order
  include/triton/Dialect/TritonGPU/IR/LayoutUtility.h
  lib/Conversion/TritonGPUToLLVM/MemoryOpToLLVM.cpp
  lib/Conversion/TritonGPUToLLVM/Utility.cpp
  lib/Dialect/TritonGPU/IR/LayoutUtility.cpp
Owners: @ptillet

Make naming consistend
  lib/Analysis/Allocation.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
Owners: @Jokeren, @ptillet

One more naming case
  lib/Conversion/TritonGPUToLLVM/Utility.cpp
Owners: @ptillet

Add lit test
  test/Conversion/amd/tritongpu_to_llvm.mlir
Owners: @ptillet

Improve lit
  test/Conversion/amd/tritongpu_to_llvm.mlir
Owners: @ptillet

[BACKEND] Applying correct filtering in membar for nvidia
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Owners: @ptillet

[BACKEND] Fix vectorization for `PaddedSharedEncoding` with non default order (#7845)
  include/triton/Dialect/TritonGPU/IR/LayoutUtility.h
  lib/Analysis/Allocation.cpp
  lib/Conversion/TritonGPUToLLVM/MemoryOpToLLVM.cpp
  lib/Conversion/TritonGPUToLLVM/Utility.cpp
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Dialect/TritonGPU/IR/LayoutUtility.cpp
  test/Conversion/amd/tritongpu_to_llvm.mlir
Owners: @ptillet, @Jokeren

comments
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

Revert "[IMP][Launch Latency] remove __getattr__ overhead from `DriverConfig`…"
  python/test/unit/runtime/test_driver.py
  python/triton/compiler/compiler.py
  python/triton/runtime/driver.py
Owners: @ptillet

Revert "[IMP][Launch Latency] misc improvements to compiler/kernel" (#7848)
  python/test/unit/runtime/test_driver.py
  python/triton/compiler/compiler.py
  python/triton/runtime/driver.py
Owners: @ptillet

comments
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

Add launch overhead microbenchmark
  .github/workflows/integration-tests-amd.yml
  .github/workflows/integration-tests-nvidia.yml
  Makefile
  python/test/microbenchmark/launch_overhead.py
Owners: @ptillet

float error
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

Add unit test and simplify condition
  python/test/unit/language/test_core.py
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

Fix test parameters
  python/test/unit/language/test_core.py
Owners: @ptillet

split-k fix
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_standard.py
Owners: @ptillet

Put singleton parameter in list
  python/test/unit/language/test_core.py
Owners: @ptillet

Add singleton layout to list
  python/test/unit/language/test_core.py
Owners: @ptillet

Fix mlir dtypes
  python/test/unit/language/test_core.py
Owners: @ptillet

[Gluon] Misc fixes split from another PR
  python/test/gluon/test_core.py
  python/triton/__init__.py
  python/triton/experimental/gluon/language/_core.py
  python/triton/experimental/gluon/language/nvidia/hopper/__init__.py
Owners: @peterbell10, @ptillet

cleanup
  python/src/specialize.cc
  python/test/unit/runtime/test_cache.py
  python/triton/runtime/jit.py
Owners: @ptillet

run pre-commit
  python/src/specialize.cc
  python/test/unit/runtime/test_specialize.py
  python/triton/backends/compiler.py
  python/triton/runtime/jit.py
  third_party/amd/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

update temporary test
  python/test/unit/runtime/test_specialize.py
Owners: @ptillet

Reapply "[IMP][Launch Latency] misc improvements to compiler/kernel" (#7848)
  python/test/unit/runtime/test_driver.py
  python/triton/compiler/compiler.py
  python/triton/runtime/driver.py
Owners: @ptillet

fix bug, revert optimization on calling init_handles less
  python/triton/compiler/compiler.py
Owners: @ptillet

[Gluon] Misc fixes split from another PR (#7850)
  python/test/gluon/test_core.py
  python/triton/__init__.py
  python/triton/experimental/gluon/language/_core.py
  python/triton/experimental/gluon/language/nvidia/hopper/__init__.py
Owners: @peterbell10, @ptillet
