Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

[Gluon][Tutorials] Add Tutorials (#7657)
  Makefile
  python/examples/gluon/01-attention-forward.py
  python/tutorials/gluon/01-intro.py
  python/tutorials/gluon/02-layouts.py
  python/tutorials/gluon/03-async-copy.py
  python/tutorials/gluon/04-tma.py
  python/tutorials/gluon/05-wgmma.py
  python/tutorials/gluon/06-tcgen05.py
  python/tutorials/gluon/07-persistence.py
  python/tutorials/gluon/08-warp-specialization.py
Owners: @ptillet

Move unit test to AMD subdir
  python/test/unit/language/test_core.py
  third_party/amd/python/test/test_convert_op_permlane_swap.py
Owners: @ptillet, @antiagainst, @zhanglx13

fix the buffer alloc error; add a check on sampling options
  third_party/proton/csrc/lib/Profiler/Instrumentation/InstrumentationProfiler.cpp
  third_party/proton/proton/hooks/instrumentation.py
Owners: @Jokeren, @crobeck, @fywkevin

Register test in workflow
  .github/workflows/integration-tests-amd.yml
Owners: @ptillet

[Proton] Check and error out on insufficient profiling memory (#7790)
  third_party/proton/csrc/lib/Profiler/Instrumentation/InstrumentationProfiler.cpp
Owners: @Jokeren, @crobeck, @fywkevin

add frontend test
  python/test/gluon/test_frontend.py
Owners: @peterbell10

fmt
  python/test/gluon/test_frontend.py
Owners: @peterbell10

Update
  python/triton/knobs.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Skip mypy check
  python/triton/knobs.py
Owners: @ptillet

resolve comments
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/tensor_details/layout.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/cdna4_scale.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Update
  python/test/unit/language/test_core.py
Owners: @ptillet

[BC breaking][FRONTEND] Add hooks around kernel loads (#7834)
  python/test/unit/runtime/test_launch.py
  python/triton/compiler/compiler.py
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
  third_party/proton/proton/hooks/instrumentation.py
  third_party/proton/proton/hooks/launch.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

support act in fp8 dtype
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
Owners: @ptillet

add fp8matmul support mxfp4 in hopper platform
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/hopper_value.py
Owners: @ptillet

[FRONTEND] Do not handle str signature in ASTSource When code_generator collects arg_type in ast_to_ttir, it does not expect to see the key as an integer type generated from ASTSource
  python/triton/compiler/compiler.py
Owners: @ptillet

cleanup
  python/triton_kernels/tests/test_reduce.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet

remove redundant error
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet

[BACKEND] Implement generic lowering for tcgen05.ld/st (#7831)
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Tools/LinearLayout.cpp
  test/Conversion/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet, @lezcano

scale fp8 data safely
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/target_info.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/hopper_value.py
Owners: @ptillet

[AMD] Optimize selection preference in optimize-lds-usage pass
  test/TritonGPU/amd/optimize-lds-usage.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUsage.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.h
Owners: @ptillet, @antiagainst, @zhanglx13

[Frontend] Do not handle str signature in ASTSource (#7854)
  python/triton/compiler/compiler.py
Owners: @ptillet

[DEV] Add `make docs`
  .github/workflows/documentation.yml
  Makefile
  docs/requirements.txt
Owners: @ptillet

Update
  python/test/unit/language/test_core.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Reapply "[IMP][Launch Latency] misc improvements to compiler/kernel" and fix too aggressive optimization (#7851)
  python/test/unit/runtime/test_driver.py
  python/triton/compiler/compiler.py
  python/triton/runtime/driver.py
Owners: @ptillet

Update
  python/triton/knobs.py
Owners: @ptillet

Call correct PYTHON
  .github/workflows/documentation.yml
  Makefile
Owners: @ptillet

Fix
  python/test/unit/language/test_core.py
Owners: @ptillet

Update
  third_party/proton/test/test_api.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

address suggested changes
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUsage.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.h
Owners: @antiagainst, @zhanglx13

[Runtime] Fix out of threads error to raise on every call
  python/triton/compiler/compiler.py
Owners: @ptillet

Update
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

[AMD][Gluon] Update AMDMFMALayout and support mfma (#7820)
  python/src/gluon_ir.cc
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/_layouts.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/proton/hooks/launch.py
Owners: @Jokeren, @crobeck, @fywkevin

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano
