Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

[Frontend] Make triton.next_power_of_2 a constexpr_function
  python/triton/__init__.py
Owners: @ptillet

[Frontend] Fix constexpr_function as a method
  python/test/unit/language/test_frontend.py
  python/triton/compiler/code_generator.py
  python/triton/language/core.py
  python/triton/runtime/jit.py
Owners: @ptillet

Add 3-cycle permlane pattern match
  test/Conversion/amd/mfma-shortcut.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

Fix parentheses in failure condition
  third_party/amd/lib/TritonAMDGPUToLLVM/ConvertLayoutOpToLLVM.cpp
Owners: @antiagainst, @zhanglx13

Address review comments
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/CMakeLists.txt
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
  third_party/amd/python/triton_amd.cc
Owners: @antiagainst, @zhanglx13

cleanup, run further tests, debug minor segfault
  python/src/specialize.cc
  python/triton/runtime/jit.py
Owners: @ptillet

run pre-commit
  python/src/specialize.cc
  python/test/unit/runtime/test_specialize.py
Owners: @ptillet

Drop local_load_transposed op, until lowering to ds_read_tr is supported
  third_party/amd/include/Dialect/TritonAMDGPU/IR/TritonAMDGPUOps.td
  third_party/amd/lib/Dialect/TritonAMDGPU/IR/Dialect.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Fix pip install
  .github/workflows/documentation.yml
  Makefile
Owners: @ptillet

[TEST] Various cleanups on `test_core.py` (#7801)
  python/test/unit/language/test_core.py
  python/test/unit/language/test_tuple.py
  python/triton/knobs.py
  python/triton/runtime/interpreter.py
Owners: @ptillet

Revert "[BACKEND] Implement generic lowering for tcgen05.ld/st (#7831)"
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Tools/LinearLayout.cpp
  test/Conversion/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet, @lezcano

Clarify comment in `ConstexprFunction.__call__`
  python/triton/runtime/jit.py
Owners: @ptillet

[Frontend] Make triton.next_power_of_2 a constexpr_function (#7863)
  python/triton/__init__.py
Owners: @ptillet

Update
  python/test/unit/runtime/test_launch.py
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
  third_party/proton/proton/hooks/instrumentation.py
  third_party/proton/proton/hooks/launch.py
  third_party/proton/test/test_profile.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

Update
  python/test/unit/runtime/test_launch.py
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/test/test_instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/test/test_instrumentation.py
  third_party/proton/test/test_profile.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  third_party/proton/test/test_instrumentation.py
Owners: @Jokeren, @crobeck, @fywkevin

Update
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

Update
  python/triton/knobs.py
  third_party/proton/test/test_instrumentation.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

Simplify gcd calculation in AxisInfo
  lib/Analysis/AxisInfo.cpp
Owners: @ptillet

[DEV] Add `make docs` (#7856)
  .github/workflows/documentation.yml
  Makefile
  docs/requirements.txt
Owners: @ptillet

Revert "Revert change to fix CI failure"
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Use dyn_cast_or_null
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
Owners: @antiagainst, @zhanglx13

Revert change to fix CI failure
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
Owners: @antiagainst, @zhanglx13

[Frontend] Fix constexpr_function as a method (#7864)
  python/test/unit/language/test_frontend.py
  python/triton/compiler/code_generator.py
  python/triton/language/core.py
  python/triton/runtime/jit.py
Owners: @ptillet

Revert "[BACKEND] Implement generic lowering for tcgen05.ld/st (#7831)" (#7865)
  include/triton/Dialect/TritonGPU/IR/Dialect.h
  include/triton/Tools/LinearLayout.h
  lib/Dialect/TritonGPU/IR/Dialect.cpp
  lib/Tools/LinearLayout.cpp
  test/Conversion/tritongpu_to_llvm.mlir
  test/Conversion/tritongpu_to_llvm_blackwell.mlir
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TensorMemoryToLLVM.cpp
Owners: @ptillet, @lezcano

[AMD][Gluon] Add support for CDNA4 mfma scale (#7799)
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/cdna4/__init__.py
Owners: @peterbell10

[AMD] Use single LDS for both transposed and non-transposed access (#7813)
  bin/RegisterTritonDialects.h
  test/TritonGPU/amd/amd-optimize-dot-operands.mlir
  third_party/amd/backend/compiler.py
  third_party/amd/include/TritonAMDGPUTransforms/Passes.h
  third_party/amd/include/TritonAMDGPUTransforms/Passes.td
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.h
  third_party/amd/lib/TritonAMDGPUTransforms/AccelerateAMDMatmul.cpp
  third_party/amd/lib/TritonAMDGPUTransforms/CMakeLists.txt
  third_party/amd/lib/TritonAMDGPUTransforms/OptimizeDotOperands.cpp
  third_party/amd/python/triton_amd.cc
Owners: @ptillet, @antiagainst, @zhanglx13

Update
  third_party/proton/proton/hooks/hook.py
Owners: @Jokeren, @crobeck, @fywkevin

remove gcdImpl
  lib/Analysis/AxisInfo.cpp
Owners: @ptillet

[LANG] Expand tl.target_info and fail gracefully on CPU
  python/triton/language/target_info.py
  python/triton_kernels/triton_kernels/target_info.py
Owners: @ptillet

fix lint
  python/triton_kernels/triton_kernels/tensor_details/layout_details/cdna4_scale.py
Owners: @ptillet

Simplify gcd calculation in AxisInfo (#7867)
  lib/Analysis/AxisInfo.cpp
Owners: @ptillet

[mxfp] naming fixes
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/numerics_details/mxfp.py
  python/triton_kernels/triton_kernels/numerics_details/mxfp_details/_downcast_to_mxfp.py
Owners: @ptillet

fix tests failed on NV GPU
  python/triton_kernels/tests/test_matmul.py
Owners: @ptillet

Fix
  python/triton/language/core.py
Owners: @ptillet

[AMD] Prefer swizzle layout in optimize-lds-usage pass (#7750)
  test/TritonGPU/amd/optimize-lds-usage.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUsage.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/OptimizeLDSUtility.h
Owners: @ptillet, @antiagainst, @zhanglx13

Let the remaining directories use TRITON_BUILD_DIR
  python/build_helpers.py
  setup.py
Owners: @ptillet

Make functions in build_helpers return str instead Path
  python/build_helpers.py
  setup.py
Owners: @ptillet
