Repository triton-lang/triton, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ptillet, @Jokeren, @antiagainst, @zhanglx13, @crobeck, @fywkevin, @peterbell10, @lezcano

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @ptillet

# --------
# Analyses
# --------
# Alias analysis
include/triton/Analysis/Alias.h @Jokeren
lib/Analysis/Alias.cpp @Jokeren
# Allocation analysis
include/triton/Analysis/Allocation.h @Jokeren
lib/Analysis/Allocation.cpp @Jokeren
# Membar analysis
include/triton/Analysis/Membar.h @Jokeren
lib/Analysis/Membar.cpp @Jokeren
# AxisInfo analysis
include/triton/Analysis/AxisInfo.h @ptillet
lib/Analysis/AxisInfo.cpp @ptillet
# Utilities
include/triton/Analysis/Utility.h @Jokeren
lib/Analysis/Utility.cpp @Jokeren

# ----------
# Dialects
# ----------
# Pipeline pass
lib/Dialect/TritonGPU/Transforms/Pipeline.cpp @ptillet
# Prefetch pass
lib/Dialect/TritonGPU/Transforms/Prefetch.cpp @ptillet
# Coalesce pass
lib/Dialect/TritonGPU/Transforms/Coalesce.cpp @ptillet
# Layout simplification pass
lib/Dialect/TritonGPU/Transforms/Combine.cpp @ptillet

# -----------
# Conversions
# -----------
# TritonToTritonGPU
include/triton/Conversion/TritonToTritonGPU/ @ptillet
lib/Dialect/TritonGPU/Transforms/TritonGPUConversion.cpp @ptillet

# -----------
# third_party
# -----------
third_party/amd/ @antiagainst @zhanglx13
third_party/proton/ @Jokeren @crobeck @fywkevin

# -----------
# gluon
# -----------
python/triton/experimental/gluon/ @peterbell10
python/src/gluon_ir.cc @peterbell10
python/test/gluon @peterbell10
test/Gluon @peterbell10
include/triton/Dialect/Gluon @peterbell10
lib/Dialect/Gluon @peterbell10

# -----------
# Linear Layouts
# -----------
lib/Tools/ @lezcano
lib/Dialect/TritonGPU/IR/LinearLayoutConversions.cpp @lezcano

Fixed merge errors
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

Fix is_hip
  python/triton_kernels/triton_kernels/target_info.py
Owners: @ptillet

[Swizzling] Fix swizzling pattern when there is asymmetric vectorisation
  lib/Tools/GenericSwizzling.cpp
  unittest/Dialect/TritonGPU/SwizzleTest.cpp
Owners: @lezcano, @ptillet

more cleaning
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

Fixed eof
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

[AMD] Implemented hipError discard after a failure to get pointer attributes (#7832)
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

[Swizzling] Disallow asymmetric vectorisation within generic swizzling (#7833)
  lib/Tools/GenericSwizzling.cpp
  unittest/Dialect/TritonGPU/SwizzleTest.cpp
Owners: @lezcano, @ptillet

fix float8
  python/triton_kernels/triton_kernels/matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_p_matmul_ogs.py
Owners: @ptillet

comments
  python/test/gluon/test_core.py
  python/triton/experimental/gluon/language/amd/_layouts.py
  python/triton/experimental/gluon/language/amd/cdna3/__init__.py
Owners: @peterbell10

Remove debug prints
  python/triton/runtime/jit.py
Owners: @ptillet

Add store and fix tests now that the string is no longer expected
  test/Conversion/amd/async_ops_to_llvm.mlir
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
  third_party/amd/include/TritonAMDGPUToLLVM/Passes.td
  third_party/amd/lib/TritonAMDGPUToLLVM/BuiltinFuncToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/LoadStoreOpToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/MaskedOpsToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/PatternTritonGPUOpToLLVM.h
  third_party/amd/lib/TritonAMDGPUToLLVM/TritonGPUToLLVM.cpp
  third_party/amd/lib/TritonAMDGPUToLLVM/Utility.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

[AMD]Enable Scale Preshuffling for MoE Kernel
  python/test/unit/language/test_matmul.py
  python/triton_kernels/bench/bench_mlp.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
  python/triton_kernels/triton_kernels/tensor_details/layout.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/gfx950_scale.py
Owners: @ptillet

[FRONTEND] Add hooks around kernel loads
  python/test/unit/runtime/test_launch.py
  python/triton/compiler/compiler.py
  python/triton/knobs.py
  third_party/proton/proton/hooks/hook.py
  third_party/proton/proton/hooks/instrumentation.py
  third_party/proton/proton/hooks/launch.py
Owners: @ptillet, @Jokeren, @crobeck, @fywkevin

[Runtime] Rework constexpr_function to support cache invalidation (#7802)
  python/test/unit/language/test_frontend.py
  python/test/unit/language/test_tuple.py
  python/test/unit/runtime/test_cache.py
  python/triton/__init__.py
  python/triton/compiler/code_generator.py
  python/triton/experimental/gluon/__init__.py
  python/triton/experimental/gluon/_runtime.py
  python/triton/experimental/gluon/language/_core.py
  python/triton/experimental/gluon/language/_layouts.py
  python/triton/experimental/gluon/language/nvidia/blackwell/__init__.py
  python/triton/language/__init__.py
  python/triton/language/core.py
  python/triton/language/standard.py
  python/triton/language/target_info.py
  python/triton/runtime/jit.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_common.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_finalize_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_p_matmul_ogs.py
  python/triton_kernels/triton_kernels/numerics_details/flexpoint.py
  python/triton_kernels/triton_kernels/target_info.py
  python/tutorials/gluon/01-attention-forward.py
Owners: @ptillet, @peterbell10

[Proposal] Try to skip `link_extern_libs` to reduce compilation time. (#7570)
  python/test/unit/test_link.py
  third_party/nvidia/backend/compiler.py
  third_party/nvidia/triton_nvidia.cc
Owners: @ptillet

[KERNELS][MULTI-GPU] Use bitmatrix for distributed routing (#7789)
  python/triton_kernels/bench/distributed.py
  python/triton_kernels/triton_kernels/routing.py
  python/triton_kernels/triton_kernels/topk.py
Owners: @ptillet

comments
  python/tutorials/gluon/02-layouts.py
  python/tutorials/gluon/08-warp-specialization.py
Owners: @ptillet

Support tests
  python/triton_kernels/bench/bench_mlp.py
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/_matmul_ogs.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
  python/triton_kernels/triton_kernels/tensor_details/layout.py
  python/triton_kernels/triton_kernels/tensor_details/layout_details/gfx950_scale.py
Owners: @ptillet

drop bf16xmx4 test case
  python/test/unit/language/test_matmul.py
  python/triton_kernels/bench/bench_mlp.py
  python/triton_kernels/triton_kernels/matmul_ogs_details/opt_flags.py
Owners: @ptillet

comments and cdna3
  python/src/gluon_ir.cc
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/_layouts.py
Owners: @peterbell10

comments and cdna3
  python/src/gluon_ir.cc
  python/test/gluon/test_core.py
  python/test/gluon/test_frontend.py
  python/triton/experimental/gluon/language/amd/_layouts.py
Owners: @peterbell10

Fixed multiple driver.py issues
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

shape change in test on gfx942 for Cannot select: intrinsic %llvm.amdgcn.mfma.f32.32x32x16.bf16
  python/test/gluon/test_core.py
Owners: @peterbell10

x
  python/tutorials/gluon/05-wgmma.py
Owners: @ptillet

update native approach
  CMakeLists.txt
  python/src/main.cc
  python/src/specialize.cc
  python/test/unit/runtime/test_specialize.py
  python/triton/backends/compiler.py
  python/triton/runtime/_specialize.py
  python/triton/runtime/_specialize_all.cpp
  python/triton/runtime/_specialize_simple.c
  python/triton/runtime/jit.py
  third_party/amd/backend/compiler.py
Owners: @ptillet, @antiagainst, @zhanglx13

remove general caching, add caching specifically for debug and add refresh option
  python/test/unit/test_debug.py
  python/test/unit/test_knobs.py
  python/triton/knobs.py
Owners: @ptillet

fix cdiv
  python/triton_kernels/bench/distributed.py
Owners: @ptillet

[Kernels] Fix cdiv (#7840)
  python/triton_kernels/bench/distributed.py
Owners: @ptillet

[AMD][BACKEND] Lower direct-to-lds loads via `lowerLdSt` (#7829)
  test/Conversion/amd/buffer_load_to_local_to_llvm.mlir
  third_party/amd/lib/TritonAMDGPUToLLVM/LoadStoreOpToLLVM.cpp
Owners: @ptillet, @antiagainst, @zhanglx13

cdiv constexpr function
  python/triton/__init__.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

Initialize value
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

test on CDNA3
  python/test/gluon/test_core.py
Owners: @peterbell10

.
  python/triton_kernels/tests/test_matmul.py
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

[AMD] Fix multiple driver.py compiler warnings/errors (#7838)
  third_party/amd/backend/driver.py
Owners: @antiagainst, @zhanglx13

fix
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

actually global scale is broken
  python/triton_kernels/triton_kernels/matmul_ogs.py
Owners: @ptillet

[Knobs] Reduce overhead of reading knobs
  python/src/ir.cc
  python/triton/knobs.py
Owners: @ptillet

.
  python/triton_kernels/triton_kernels/reduce_details/reduce_grouped.py
Owners: @ptillet
